<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxk.dao.mapper.WechatCityMapper" >
  <resultMap id="BaseResultMap" type="com.sxk.model.WechatCity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="national_code" property="nationalCode" jdbcType="VARCHAR" />
    <result column="city_type" property="cityType" jdbcType="TINYINT" />
    <result column="national_name" property="nationalName" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="district_id" property="districtId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, national_code, city_type, national_name, parent_code, zip_code, province_id, 
    city_id, district_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wechat_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxk.model.WechatCity" >
    insert into wechat_city (id, national_code, city_type, 
      national_name, parent_code, zip_code, 
      province_id, city_id, district_id
      )
    values (#{id,jdbcType=INTEGER}, #{nationalCode,jdbcType=VARCHAR}, #{cityType,jdbcType=TINYINT}, 
      #{nationalName,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{districtId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sxk.model.WechatCity" >
    insert into wechat_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nationalCode != null" >
        national_code,
      </if>
      <if test="cityType != null" >
        city_type,
      </if>
      <if test="nationalName != null" >
        national_name,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nationalCode != null" >
        #{nationalCode,jdbcType=VARCHAR},
      </if>
      <if test="cityType != null" >
        #{cityType,jdbcType=TINYINT},
      </if>
      <if test="nationalName != null" >
        #{nationalName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxk.model.WechatCity" >
    update wechat_city
    <set >
      <if test="nationalCode != null" >
        national_code = #{nationalCode,jdbcType=VARCHAR},
      </if>
      <if test="cityType != null" >
        city_type = #{cityType,jdbcType=TINYINT},
      </if>
      <if test="nationalName != null" >
        national_name = #{nationalName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        district_id = #{districtId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxk.model.WechatCity" >
    update wechat_city
    set national_code = #{nationalCode,jdbcType=VARCHAR},
      city_type = #{cityType,jdbcType=TINYINT},
      national_name = #{nationalName,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      district_id = #{districtId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="deleteLogicByIds" >
    update wechat_city set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>